@import 'colors.scss';
@import 'mixins.scss';

.section-body {
    @include card;
    background-color: $background;
    padding: 20px 15px 30px;
    display: flex;

    .left-pane {
        text-align: center;
        display: flex;
        align-items: flex-end;

        div {
            color: $gray-light;

            &:hover {
                color: $gray;
            }
        }
    }

    .clickable {
        cursor: pointer;
    }
}

.photo-container {
    img {
        max-width: 90%;
        max-height: 200px;
    }
}
