<div class="row">
    <div class="col-md-6 section-body">
        <div class="left-pane">
            <div class="drag-handle" cdkDragHandle>
                <fa-icon [icon]="faTh"></fa-icon>
            </div>
            <div class="clickable" (click)="deleteIngredient()">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </div>
        </div>
        <div class="content col">
            <div *ngIf="ingredientSelect.invalid && (ingredientSelect.dirty || ingredientSelect.touched)"
                 class="alert alert-danger">
                <div *ngIf="ingredientSelect.errors.required">
                    Ingredient selection is required.
                </div>
            </div>
            <div class="form-group" [formGroup]="ingredientForm">
                <select class="form-control" id="ingredientSelect" formControlName="ingredient" [compareWith]="compare" (change)="ingredientSelected()">
                    <option *ngFor="let item of ingredients" [ngValue]="item">{{item.name}}</option>
                </select>
            </div>
            <p class="m-2"><small>{{ingredientDetails?.description}}</small></p>
            <h5 class="text-right"><strong>{{ingredientDetails?.price|currency:'PLN':'symbol-narrow':undefined:'pl'}}</strong></h5>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div *ngIf="ingredientDetails?.picture && ingredientDetails.picture.name" class="photo-container">
            <img [src]="fileService.getPhotoUrl(ingredientDetails.picture)" />
        </div>
    </div>
</div>
