@import 'colors.scss';
@import 'mixins.scss';

.burger-code-outer {
    padding: 5px 12px;
    display: block;

    .desc {
        text-align: center;
    }
}

.details-card {
    @include card;
    margin: 30px 0;
    padding: 10px 0;
    min-height: 150px;

    .photo-container {
        img {
            max-width: 90%;
            max-height: 200px;
        }
    }
}
