<div class="tab-buttons sticky-buttons">
    <button class="btn btn-primary" [routerLink]="['/edit']">Add burger</button>
</div>
<table class="table settings-table" *ngIf="burgers?.length;else noBurgers">
    <colgroup>
        <col style="width: 5%" />
        <col style="width: 5%" />
        <col style="width: 50%" />
        <col style="width: 25%" />
        <col style="width: 10%" />
        <col style="width: 5%" />
    </colgroup>
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">Id</th>
            <th>Name</th>
            <th>Code</th>
            <th class="text-center">In menu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of burgers">
            <td class="text-center">
                <a href="">
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                </a>
            </td>
            <td class="text-center">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td class="text-center">
                <button *ngIf="item.isInMenu; else notInMenu" class="btn btn-link" (click)="deleteFromMenu(item)">
                    <span class="text-success">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </span>
                </button>
                <ng-template #notInMenu>
                    <button class="btn btn-link" (click)="addToMenu(item)">
                        <span class="text-danger">
                            <fa-icon [icon]="faTimesCircle"></fa-icon>
                        </span>
                    </button>
                </ng-template>
            </td>
            <td class="text-center">
                <button class="btn btn-link" [routerLink]="['/configure', item.code]">
                    <fa-icon [icon]="faWrench"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #noBurgers>There are no burgers yet.</ng-template>
