@import 'colors.scss';
@import 'mixins.scss';

@import '../assets/fonts/Montserrat/Montserrat.css';

body {
    font-family: Montserrat, sans-serif;
}

.logo {
    background-image: url(/assets/images/logo.png);
    background-size: contain;
    min-width: 100%;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

tabset {
    .tab-content {
        .tab-buttons {
            border-bottom: 1px solid $border-color;
            padding: 3px 0;
            margin-bottom: 10px;

            button {
                margin-right: 2px;
            }
        }
    }
}

table.settings-table {
    td, th {
        vertical-align: middle;
    }
}

.btn-primary {
    color: $primary;

    &, &:disabled {
        background-color: $light;
        border-color: $primary;
    }

    &:hover, &:active {
        background-color: $primary !important;
        border-color: $primary-dark !important;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($primary,.5) !important;
    }
}

.bold {
    font-weight: bold;
}

.table {
    tfoot {
        td {
            border-top: 2px solid #dee2e6;
        }
    }
}

.inactive-row {
    color: $gray;
    background-color: $gray-lighter;
    border-left: 4px solid $gray;
}

.burger-code {
    padding: 0 5px;
    text-align: center;
    background-color: $green;
    border: 1px solid $border-color;
    border-radius: 3px;
    box-shadow: $border-color 0 10px 15px;
}

@include media-breakpoint-up(md) {
    .sticky-tabs {
        ul.nav.nav-tabs, .sticky-buttons {
            position: sticky;
            background-color: $background;
        }

        ul.nav.nav-tabs {
            top: 0;
        }

        .sticky-buttons {
            top: calc(1rem + 1.5em + 1.5px);
        }
    }
}
