<div class="tab-buttons sticky-buttons">
    <button class="btn btn-primary" (click)="addProduct()">Add product</button>
</div>
<div *ngIf="types?.length; else noTypes">
    <div *ngFor="let type of types">
        <h4>{{type.name}}</h4>
        <div *ngIf="getProductsOfType(type) as productsOfType; else noProducts">
            <table class="table settings-table" *ngIf="productsOfType?.length; else noProducts">
                <colgroup>
                    <col style="width: 5%" />
                    <col style="width: 55%" />
                    <col style="width: 15%" />
                    <col style="width: 20%" />
                    <col style="width: 5%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th>Name</th>
                        <th class="text-center">In Menu</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productsOfType" [class.inactive-row]="!product.active">
                        <td class="text-center">{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td class="text-center">
                            <span *ngIf="product.isInMenu; else notInMenu" class="text-success">
                                <fa-icon [icon]="faCheckCircle"></fa-icon>
                            </span>
                            <ng-template #notInMenu>
                                <span class="text-danger">
                                    <fa-icon [icon]="faTimesCircle"></fa-icon>
                                </span>
                            </ng-template>
                        </td>
                        <td>{{product.price|currency:'PLN':'symbol-narrow':undefined:'pl'}}</td>
                        <td class="text-center">
                            <button class="btn btn-link" (click)="editProduct(product.id)">
                                <fa-icon [icon]="faWrench"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noProducts>
            There are no products.
        </ng-template>
    </div>
</div>
<ng-template #noTypes>
    There are no product types.
</ng-template>
