<form [formGroup]="form" (ngSubmit)="save(form)" class="container">
    <div class="form-group">
        <div class="section-header">
            <h1>1</h1>
            <h4>Give burger a name</h4>
        </div>
        <div class="row">
            <label for="nameInput">Burger name</label>
            <input class="form-control" id="nameInput" formControlName="name" name="name" />
        </div>
    </div>
    <div class="form-group">
        <div class="section-header">
            <h1>2</h1>
            <h4>Choose bun</h4>
        </div>
        <div class="row">
            <div class="col-md-6 section-body">
                <select class="form-control" id="bunSelect" formControlName="bun" name="bun" [compareWith]="compare" (change)="bunSelected($event.target.value)">
                    <option *ngFor="let bun of buns" value="{{bun.id}}">{{bun.name}}</option>
                </select>
                <p class="m-2"><small>{{bun?.description}}</small></p>
                <h5 class="text-right"><strong>{{bun?.price|currency:'PLN':'symbol-narrow':undefined:'pl'}}</strong></h5>
            </div>
        </div>
    </div>
    <div formArrayName="ingredients" class="form-group">
        <div class="section-header">
            <h1>3</h1>
            <h4>Add ingredients</h4>
        </div>
        <div class="ingredients-list" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let ingredient of form.controls.ingredients.controls; let i = index;" cdkDrag>
                <div class="my-3" [formGroupName]="i">
                    <app-ingredient-card [index]="i" [group]="form.controls.ingredients.controls[i]" (deleted)="deleteIngredient($event)"></app-ingredient-card>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addIngredient()">Add ingredient</button>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
</form>
