<div class="tab-buttons sticky-buttons">
    <button class="btn btn-primary" (click)="addIngredient()">Add ingredient</button>
</div>
<div *ngFor="let type of types">
	<h4>{{type.name}}</h4>
    <div *ngIf="getIngredientsOfType(type) as ingredientsOfType; else noIngredients">
        <table class="table" *ngIf="ingredientsOfType?.length; else noIngredients">
            <colgroup>
                <col style="width: 5%" />
                <col style="width: 30%" />
                <col style="width: 60%" />
                <col style="width: 5%" />
            </colgroup>
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingredient of ingredientsOfType">
                    <td class="text-center">{{ingredient.id}}</td>
                    <td>{{ingredient.name}}</td>
                    <td>{{ingredient.description}}</td>
                    <td class="text-center">
                        <button class="btn btn-link" (click)="editIngredient(ingredient)">
                            <fa-icon [icon]="faWrench"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #noIngredients>
        There are no ingredients.
    </ng-template>
</div>
