<div class="tab-buttons sticky-buttons">
    <button class="btn btn-primary" (click)="addIngredient()">Add ingredient</button>
</div>
<div *ngIf="types?.length; else noTypes">
    <div *ngFor="let type of types">
        <h4>{{type.name}}</h4>
        <div *ngIf="getIngredientsOfType(type) as ingredientsOfType; else noIngredients">
            <table class="table settings-table" *ngIf="ingredientsOfType?.length; else noIngredients">
                <colgroup>
                    <col style="width: 10%" />
                    <col style="width: 50%" />
                    <col style="width: 30%" />
                    <col style="width: 10%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ingredient of ingredientsOfType" [class.inactive-row]="!ingredient.active">
                        <td class="text-center">{{ingredient.id}}</td>
                        <td>{{ingredient.name}}</td>
                        <td>{{ingredient.price|currency:'PLN':'symbol-narrow':undefined:'pl'}}</td>
                        <td class="text-center">
                            <button class="btn btn-link" (click)="editIngredient(ingredient.id)">
                                <fa-icon [icon]="faWrench"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noIngredients>
            There are no ingredients.
        </ng-template>
    </div>
</div>
<ng-template #noTypes>
    There are no ingredient types.
</ng-template>
