<table class="table settings-table" *ngIf="orders?.length;else noOrders">
    <colgroup>
        <col style="width: 10%" />
        <col style="width: 20%" />
        <col style="width: 30%" />
        <col style="width: 10%" />
        <col style="width: 20%" />
        <col style="width: 10%" />
    </colgroup>
    <thead>
        <tr>
            <th class="text-center">Id</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Products count</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of orders">
            <td class="text-center">{{item.id}}</td>
            <td>{{item.date | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>{{item.customerFirstName}} {{item.customerLastName}}</td>
            <td>{{item.productsCount}}</td>
            <td>{{item.price|currency:'PLN':'symbol-narrow':undefined:'pl'}}</td>
            <td class="text-center">
                <button class="btn btn-link" [routerLink]="['/order', item.id]">
                    Details
                </button>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #noOrders>There are no orders yet.</ng-template>
