<div class="modal-header">
    <h4 class="modal-title pull-left">Ingredient</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="ingredientNameInput">Name</label>
            <input class="form-control" id="ingredientNameInput" placeholder="Name" [(ngModel)]="ingredient.name" name="name" />
        </div>
        <div class="form-group">
            <label for="ingredientTypeSelect">Type</label>
            <select class="form-control" id="ingredientTypeSelect" [(ngModel)]="ingredient.type" name="type" [compareWith]="compareTypes">
                <option *ngFor="let type of ingredientTypes" [ngValue]="type">{{type.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ingredientDescriptionTextarea">Description</label>
            <textarea class="form-control" id="ingredientDescriptionTextarea" [(ngModel)]="ingredient.description" name="description"></textarea>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="ingredientActiveCheckbox" [(ngModel)]="ingredient.active" name="active" checked />
            <label class="form-check-label" for="ingredientActiveCheckbox">Active</label>
        </div>
        <div class="form-group">
            <label for="ingredientPriceInput">Price</label>
            <input type="number" class="form-control" id="ingredientPriceInput" placeholder="Price" [(ngModel)]="ingredient.price" name="price" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-primary" (click)="saveIngredient()">
            Save
        </button>
        <button type="button" class="btn" (click)="bsModalRef.hide()">
            Cancel
        </button>
    </div>
</div>
